<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.webnest.mapper.search.SearchMapper">
    <select id="selectQuizByQuery" resultType="QuizVO" parameterType="String">
        SELECT ID, QUIZ_TITLE, QUIZ_DESCRIPTION, QUIZ_EXPECTATION, QUIZ_DIFFICULT, QUIZ_LANGUAGE
        FROM TBL_QUIZ
        WHERE QUIZ_TITLE LIKE '%'||#{search}||'%' OR QUIZ_CATEGORY LIKE '%'||#{search}||'%'
            OR QUIZ_DIFFICULT  LIKE '%'||#{search}||'%'
            OR QUIZ_LANGUAGE LIKE '%'||#{search}||'%'
    </select>

    <select id="selectPostByQuery" resultType="PostVO" parameterType="String">
        SELECT ID, POST_CREATE_AT, POST_CONTENT, POST_TITLE, POST_VIEW_COUNT, POST_TYPE
        FROM TBL_POST
        WHERE POST_CONTENT LIKE '%'||#{search}||'%' OR POST_TITLE  LIKE '%'||#{search}||'%' OR POST_TYPE  LIKE '%'||#{search}||'%'
    </select>

    <select id="selectUserByQuery" resultType="UserVO" parameterType="String">
        SELECT USER_LEVEL, USER_THUMBNAIL_NAME, USER_THUMBNAIL_URL, USER_NICKNAME
        FROM TBL_USER
        WHERE USER_NICKNAME LIKE '%'||#{search}||'%'
    </select>
</mapper>